{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

<main class="container mx-auto">
    <div class="p-4 rounded-lg dark:border-gray-700 mt-14">

        <section
            class="bg-white dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
            <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-primary-500">About Us
                </h2>

                <div class="text-left">
                    <h4 class="mb-4 text-2xl tracking-tight font-bold text-primary-500">Hey there, welcome
                        to Toolverse!</h4>
                    <p class="mb-4 text-xl tracking-tight  text-gray-900 dark:text-white">
                        Toolverse is not just a platform; it's a dream realized by a passionate solo developer (that's
                        me!)
                        who believes in the power of creativity and technology. If you're wondering what's behind
                        Toolverse,
                        let me share our story.
                    </p>
                    <h4 class="mb-4 text-2xl tracking-tight font-bold text-primary-500">Our Story</h4>
                    <p class="mb-4 text-xl tracking-tight  text-gray-900 dark:text-white">
                        Toolverse was born from a simple idea: to make content creation more accessible, fun, and
                        impactful.
                        As someone who's been in the digital trenches, I know the challenges of juggling multiple
                        brands,
                        finding the right words, and connecting with your audience. That's why we set out to create a
                        platform that marries the brilliance of AI with the art of storytelling.</p>

                    <h4 class="mb-4 text-2xl tracking-tight font-bold text-primary-500">Our Mission</h4>
                    <p class="mb-4 text-xl tracking-tight  text-gray-900 dark:text-white">
                        Our mission is to empower you to tell your story effortlessly. We're committed to constant
                        improvement, and our roadmap includes exciting features such as:
                    <ul class="mb-4 text-xl tracking-tight  text-gray-900 dark:text-white py-4">
                        <li>Post Scheduler (Coming Soon): Schedule your posts across multiple platforms, ensuring your
                            content reaches your audience at the perfect time.</li>

                        <li>Pro Version (Coming Soon): Unlock even more capabilities with our Pro version, which offers
                            unlimited post generation and brand profiles.</li>

                        <li>Content Editor (Coming Soon): Edit your posts to perfection with our upcoming content
                            editor.</li>

                        <li>Video Content (Coming Soon): Create video content effortlessly with our script-writing
                            feature..</li>
                    </ul>
                    </p>

                    <h4 class="mb-4 text-2xl tracking-tight font-bold text-primary-500">Why Toolverse?</h4>
                    <p class="mb-4 text-xl tracking-tight  text-gray-900 dark:text-white">
                        What sets Toolverse apart is our commitment to you. We listen, learn, and evolve based on your
                        feedback. Our platform is a reflection of your needs and aspirations. From AI-driven content
                        generation to user-friendly brand management, we're dedicated to helping you succeed in the
                        digital
                        landscape.</p>

                    <h4 class="mb-4 text-2xl tracking-tight font-bold text-primary-500">Join Us on this
                        Journey</h4>
                    <p class="mb-4 text-xl tracking-tight  text-gray-900 dark:text-white">
                        As we're in our beta version, we're excited to have you on board. We believe in the power of
                        community and collaboration. Here's how you can be a part of this journey:

                        Contributions: We welcome contributions from developers, designers, and anyone who's passionate
                        about content creation and AI. Whether it's code, ideas, or feedback, your input is invaluable.
                        Check out our GitHub repository for details on how to get involved.

                        Sponsorship: If you're interested in supporting our project financially, you can become a
                        sponsor
                        through GitHub Sponsors or PayPal. Your sponsorship helps us maintain and improve Toolverse.
                        Look
                        for the sponsorship options on our website to learn more.

                        Thank you for choosing Toolverse as your creative partner. We're excited to have you with us as
                        we
                        continue to build and grow. Let's make the digital world a more creative and connected place,
                        together!
                    </p>
                </div>
                <ul class="mb-4 text-2xl tracking-tight font-bold text-gray-900 dark:text-white text-right">
                    <li>Warm regards,</li>
                    <li><cite>Shyanukant Rathi</cite></li>
                    <li>Founder of Toolverse </li>
                </ul>





                .</p>
            </div>


        </section>
    </div>
</main>
{% include "footer.html" %}

{% endblock %}