<!-- user input form  -->
<form method="post">
    {% csrf_token %}
    <label for="{{ form.prompt.id.for_label }}"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Topic/Subject *</label>
    {{ form.subject }}
    <!-- prompt input  -->
    <label for="{{ form.prompt.id.for_label }}"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Additional Context</label>
    {{ form.prompt }}

    <div class="flex justify-around">
        <!-- social platforms input  -->
        <div>
            <label for="{{ form.platforms.id.for_label }}"
                class="mb-4 font-semibold text-gray-900 dark:text-white">Platforms
            </label>
            <ul
                class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-600 dark:border-gray-500 dark:text-white">
                {% for platform in form.platforms %}
                <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-500">
                    <div class="flex items-center pl-3">
                        <label for="{{ platform.for_label }}"
                            class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                            {{ platform.tag }}
                            {{ platform.choice_label }}
                        </label>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div> 

        <!-- dispositions input  -->
        <div>
            <label for="{{ form.tone.id.for_label }}"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tone</label>
            {{ form.tone }}
        </div>
    
    </div><br>
    <button type="submit"
        class="text-white bg-gradient-to-br from-purple-600 to-primary-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-primary-300 dark:focus:ring-primary-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Generate
        Content</button>
</form>