{% load static %}
<aside id="logo-sidebar"
   class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
   aria-label="Sidebar">
   <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
      <ul class="space-y-2 font-medium">
         <li>
            <a href="{% url 'contents:dashboard' %}"
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <span class="material-symbols-outlined">
                  home_app_logo
               </span>
               <span class="ml-3">Dashboard</span>
            </a>
         </li>
         <li>
            <a href="{% url 'contents:content_list' %}"
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <span class="material-symbols-outlined">
                  topic
               </span>
               <span class="flex-1 ml-3 whitespace-nowrap">Content</span>
               <!-- <span class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span> -->
            </a>
         </li>
         <li>
            <a href="{% url 'contents:calander' %}"
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <span class="material-symbols-outlined">
                  edit_calendar
               </span>
               <span class="flex-1 ml-3 whitespace-nowrap">Calander</span>
               <span
                  class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-primary-800 bg-primary-100 rounded-full dark:bg-primary-900 dark:text-primary-300">3</span>
            </a>
         </li>
         <li>
            <a href="{% url 'brands:brand_list' %}"
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <span class="material-symbols-outlined">
                  group
               </span>
               <span class="flex-1 ml-3 whitespace-nowrap">Brand</span>
            </a>
         </li>


      </ul>
      <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 dark:border-gray-700">
         <li>
            <a href="{% url 'menus:price' %}"
               class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
               <span class="material-symbols-outlined">
                  local_fire_department
               </span>
               </svg>
               <span class="ml-4">Upgrade to Pro</span>
            </a>
         </li>
         <li>
            <a href=""
               class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
               <span class="material-symbols-outlined">
                  newspaper
               </span>
               <span class="ml-3">Tutorial</span>
            </a>
         </li>

         <li>
            <a href="{% url 'menus:contact' %}"
               class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
               <span class="material-symbols-outlined">
                  support
               </span>
               <span class="ml-3">Help</span>
            </a>
         </li>
      </ul>

   </div>
</aside>